<section class="invite-back-container">
  <section class="header-container">
    <div class="title-tagline-container">
      <h1>Backpack</h1>
      <h2>A Homework Helper just for Kids</h2>
    </div>

    <div class="btn-container">
      <button routerLink="/home" class="btn">Back Home</button>
      <button routerLink="/analytics" class="btn">My Report Card</button>
    </div>
  </section>

  <div class="background-container">
    <h2>See you tomorrow!</h2>
    <img class="img" src="assets/Children-amico.svg" alt="children playing" />
    <a href="https://stories.freepik.com/people" class="link"
      >Illustration by Freepik Stories</a
    >
  </div>
</section>
