/* Mobile Screen Version */
.invite-back-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header-container {
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding-top: 60px;
}

h2 {
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin-top: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 200px;
  margin: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd4b;
  border-radius: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black;
}

.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 100%;
  background-color: #3a3ea3;
}

.link {
  text-align: center;
  font-size: 10px;
  color: #3a3ea3;
}

.img {
  width: 300px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .header-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

/* Desktop Version */
@media only screen and (min-width: 768px) {
  .img {
    width: 500px;
  }

  .invite-back-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    flex-direction: column;
  }

  .title-tagline-container {
    margin-bottom: 30px;
  }

  h1 {
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ffdd4b;
    border-radius: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: black;
  }

  .background-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: #3a3ea3;
  }
  .link {
    text-align: center;
    font-size: 10px;
    color: #3a3ea3;
  }
}
