.page-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.kanban-board-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #3a3ea3;
}

.tagline-container {
  margin-top: 60px;
  margin-bottom: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 22px;
  text-align: center;
}

h3 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 200px;
  margin: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd4b;
  border-radius: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black;
}

.btn-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-content: center;
}
.item-1,
.item-2,
.item-3 {
  flex: 1;
  border: 1px solid white;
  flex-grow: 1;
  min-width: 322px;
}
@media only screen and (min-width: 768px) {
  .page-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    flex-direction: column;
  }

  .tagline-container {
    margin-bottom: 30px;
  }

  h3 {
    color: white;
    font-size: 40px;
    text-align: center;
  }

  .btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ffdd4b;
    border-radius: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: black;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .kanban-board-container {
    display: flex;
    flex-direction: row;
    flex: 2;
    background-color: #3a3ea3;
  }
}
