.container {
  border: 1px solid black;
  background-color: white;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.adventure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-delete {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.edit-form {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
}

.field {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#icons {
  font-size: 30px;
  text-align: center;
}

.subject {
  font-size: 20px;
  text-align: left;
}

.s {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 700;
  margin-right: 10px;
}

.title {
  display: flex;
  font-size: 30px;
}

.t {
  font-family: "Gochi Hand", cursive;
  color: #ff3823;
  margin-right: 10px;
}

.timer {
  display: flex;
  justify-content: center;
  width: 50px;
  flex-direction: row-reverse;
  height: 40px;
  background-color: #ffdd4b;
  border-radius: 10px;
}
.edit {
  width: 50px;
  height: 40px;
  background-color: #ffdd4b;
  border-radius: 10px;
  margin-top: 10px;
}

.title-timer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  display: flex;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd4b;
  border-radius: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black;
}
/* Desktop Version */
@media only screen and (min-width: 768px) {
  .container {
    width: 300px;
    padding: 10px;
  }

  .adventure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  #icons {
    font-size: 30px;
    text-align: center;
  }

  .subject {
    font-size: 20px;
    text-align: left;
  }

  .title {
    display: flex;
    font-size: 30px;
  }

  .timer {
    display: flex;
    justify-content: center;
    width: 50px;
    flex-direction: row-reverse;
    height: 40px;
    background-color: #ffdd4b;
    border-radius: 10px;
  }
  .edit {
    width: 50px;
    height: 40px;
    background-color: #ffdd4b;
    border-radius: 10px;
    margin-top: 10px;
  }

  .title-timer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
