<div *ngIf="!editAdventure">
  <button (click)="setEditAdventure()">Edit</button>
  <p>{{ adventureRef.subject }}</p>
  <h2>{{ adventureRef.title }}</h2>
  <p>{{ adventureRef.description }}</p>
</div>
<!-- This is the edit form of a learning adventure -->

<form
  #adventureCardForm="ngForm"
  *ngIf="editAdventure"
  (ngSubmit)="updateAdventureCard(adventureCardForm)"
>
  <label for="subject">Subject</label>
  <select id="subject" name="subject" [ngModel]="adventureRef.subject">
    <option value="Math">Math</option>
    <option value="Reading">Reading</option>
    <option value="Writing">Writing</option>
    <option value="Social Studies">Social Studies</option>
    <option value="Science">Science</option>
    <option value="Misc">Misc.</option>
  </select>
  <label for="title">Title</label>
  <input type="text" name="title" id="title" [ngModel]="adventureRef.title" />
  <label for="description">Description</label>
  <input
    type="text"
    name="description"
    id="description"
    [ngModel]="adventureRef.description"
  />

  <button>Submit</button>
</form>
