<section class="about-backpack-section">
  <button class="home-btn" routerLink="/home">
    <i class="fas fa-home"></i>
  </button>
  <h3 class="about-title">About Backpack</h3>
  <section class="about-backpack-container">
    <div class="backpack-container">
      <img src="assets/backpack-favicon.svg" alt="bright colored backpage" class="backpack-svg" />
    </div>
    <div class="paragraph-one">
      <p class="paragraph">
        Backpack is a responsive homework organizer designed for elementary
        school students.
      </p>
    </div>
    <div class="paragraph-two">
      <p class="paragraph">
        Our application combines the proven research behind the Pomodoro
        Technique™ and Kanban Method™ paired with a real time “Report Card” to
        help kids build the valuable life skills of time organization, task
        management, and the ability to focus.
      </p>
    </div>
    <div class="paragraph-three">
      <p class="paragraph">
        The Backpack experience begins by guiding children to add “Learning
        Adventures” to their day. Once they are ready, they are guided to the
        “Adventure Board” where they can see what Adventures they have and what
        progress they have made. The handy timer keeps track of their time, so
        they learn when to give their brain a break. When the student finishes
        their day, Backpack offers confetti and congratulations for a job well
        done and encourages them to come back tomorrow.
      </p>
    </div>
    <div class="paragraph-four">
      <p class="paragraph">
        With Backpack, kids will take the valuable life skills of organizing,
        focusing, and finishing into their next exciting Adventure.
      </p>
    </div>
    <div class="resources-container">
      <h3 class="research-title">Backpack Research Links</h3>
      <ul class="links-list">
        <li class="list-item"><a
            href="https://www.timetimer.com/blogs/news/time-blasts-a-genius-adhd-time-management-method-for-kids-and-adults"
            class="hyperlink">Time Timer | A Genius ADHD Time Management Method</a></li>
        <li class="list-item">
          <a href="https://study.com/blog/does-the-pomodoro-technique-help-children-with-adhd.html"
            class="hyperlink">Does the
            Pomodoro Technique Help Children with ADHD?</a>
        </li>
        <li class="list-item">
          <a href="http://blog.parentsquare.com/covid-19-tips/tip-18-use-a-kanban-board-to-organize-remote-learning-at-home"
            class="hyperlink">Use a Kanban board to organize remote learning at home</a>
        </li>
      </ul>
    </div>
  </section>
  <div class="buffer-div"></div>
</section>
