.about-backpack-section {
  height: 100%;
  width: 100%;
  background-color: #891cd2;
}
.home-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  margin: 10px;
  outline: none;
}

.home-btn:hover {
  cursor: pointer;
  color: #560e86;
}
.about-title {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}
