/* Mobile Version */
.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding-top: 60px;
}

h2 {
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin-top: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 200px;
  margin: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd4b;
  border-radius: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black;
}
#icons {
  background-color: #ffdd4b;
}
p {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  word-break: break-all;
  overflow-wrap: break-word;
}
.add {
  background-color: #ffdd4b;
}

ol {
  background-color: #3a3ea3;
  text-align: center;
  height: 100%;
}

.list {
  object-fit: cover;
  height: 100%;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Desktop Version */
@media only screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list {
    flex: 2;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    color: #3a3ea3;
  }

  h2 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ffdd4b;
    border-radius: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: black;
  }

  .item-container {
    display: flex;
  }

  .list-item {
    display: flex;
    flex-direction: row;
  }

  .add {
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #ffdd4b;
  }

  ol {
    margin: 0;
    background-color: #3a3ea3;
    width: 100%;
    text-align: left;
    list-style: none;
  }
}
