<main class="main">
  <div class="header">
    <h1>Backpack</h1>
    <h2>A Homework Helper just for Kids</h2>
    <div class="btn-container">
      <button class="btn" routerLink="/learning-adventure-list">
        Adventures!
      </button>
    </div>
  </div>
  <div class="list">
    <ol class="ordered-list">
      <p class="popup" *ngIf="adventures.length === 0">
        Awesome!! You've finished All your Adventures!!
      </p>
      <li class="item-container" *ngFor="let adventure of adventures">
        <div class="list-item">
          <button class="add" (click)="addToToday(adventure.id, adventure)">
            <i class="fas fa-plus" id="icons"></i>
          </button>
          <app-adventure-list-item
            [adventureRef]="adventure"
            (updated)="adventuresBackpack()"
          ></app-adventure-list-item>
        </div>
      </li>
    </ol>
  </div>
</main>
