<section class="developers-container">
  <button class="home-btn" routerLink="/home">
    <i class="fas fa-home"></i>
  </button>
  <h3 class="developers-title">Meet The Developers</h3>
  <div class="image-bio-container">
    <div class="developer">
      <img
        src="assets/Kristina-Wisniowiecki.jpg"
        alt="placeholder"
        class="img"
      />
      <div class="bio">
        <h4>Kristi Wisniowiecki</h4>
        <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          molestias nobis explicabo nisi. Accusantium possimus, nisi ipsum
          distinctio ratione commodi consequatur, tempora nobis officia
          aspernatur, nihil voluptatibus nam sit qui!
        </p>
        <a
          href="https://www.linkedin.com/in/kristina-wisniowiecki/"
          class="link"
          >Linked In | Kristi Wisniowiecki</a
        >
      </div>
    </div>
    <div class="developer">
      <img src="assets/Lawrence-Adams.jpg" alt="placeholder" class="img" />
      <div class="bio lo">
        <h4>Lawrence Adams</h4>
        <p class="bio lo">
          Thorough and motivated, I have lived my life iteratively, learning
          from my mistakes and pushing the limits of what I could dream to
          accomplish. I approach life with a unique paradigm developed and
          tested in the real world where my decisions forged success or failure.
          Responsibility, respect, teamwork, tact, empathy, effort, and tenacity
          are what make a successful entrepreneur. I look forward to using these
          skills with an amazing dev team to help make the future digital
          landscape accessible, beautiful, and functional.
        </p>
        <a href="https://www.linkedin.com/in/lo-adams/" class="link"
          >Linked In | Lawrence Adams</a
        >
      </div>
    </div>
    <div class="developer">
      <img src="assets/Breia-Swanigan.jpg" alt="placeholder" class="img" />
      <div class="bio">
        <h4>Breia Swanigan</h4>
        <p class="bio">
          I am a Web Developer who has recently graduated from a Grand Circus
          Front-end boot camp. I am an intensive and dedicated programmer who
          willingly goes above and beyond. I have skills in HTML, CSS,
          JavaScript, Typescript, Angular, SQL, Node.js, Express. I am a
          determined go-getter with immense communication.
        </p>
        <a
          href="https://www.linkedin.com/in/breia-swanigan-0b65b61a0/"
          class="link"
          >Linked In | Breia Swanigan</a
        >
      </div>
    </div>
    <div class="developer">
      <img src="assets/Jackie-Riemersma.jpg" alt="placeholder" class="img" />
      <div class="bio">
        <h4>Jackie Riemersma</h4>
        <p class="bio">
          I am a creatively-minded individual excited to be transitioning into
          tech after 15 years in the printing industry. I feel that I have found
          my calling in front-end web development and cannot wait to get started
          in the world of code. My hobbies include camping, cooking, and going
          for walks with my dog Tank.
        </p>
        <a href="https://www.linkedin.com/in/jackie-riemersma/" class="link"
          >Linked In | Jackie Riemersma</a
        >
      </div>
    </div>
  </div>
</section>
