<section class="homepage-container">
  <section class="header-container">
    <div class="title-tagline-container">
      <h1>Backpack</h1>
      <h2>A Homework Helper for Kids</h2>
    </div>

    <div class="btn-container">
      <button routerLink="/home" class="btn">Home</button>
    </div>
  </section>

  <div class="background-container">
    <h3 class="title">My Report Card</h3>
    <div class="legend-div">
      <img src="assets/legend.svg" alt="legend" width="500" />
    </div>
    <section class="chart-section">
      <div class="chart-div">
        <h3 class="chart-title">To-Date</h3>
        <canvas
          baseChart
          [data]="overallChartData"
          [labels]="labels"
          [chartType]="doughnutChartType"
          [colors]="chartColors"
          [legend]="false"
          class="overall-chart"
        ></canvas>
      </div>
      <div class="chart-div">
        <h3 class="chart-title">Today</h3>
        <canvas
          baseChart
          [data]="dailyChartData"
          [labels]="labels"
          [chartType]="doughnutChartType"
          [colors]="chartColors"
          [legend]="false"
          class="chart"
        ></canvas>
      </div>
    </section>
    <section class="line-chart-section">
      <div style="display: block">
        <h3 class="chart-title">Time Taken Per Adventure</h3>
        <canvas
          baseChart
          width="400"
          height="100"
          [datasets]="individualLineData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        >
        </canvas>
      </div>
    </section>
  </div>
</section>
