/* Mobile Screen Version */

.homepage-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.title {
  text-align: center;
  color: black;
  font-size: 40px;
}

.chart-title {
  text-align: center;
  font-size: 30px;
  margin: 15px;
  margin-top: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding-top: 60px;
}

h2 {
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin-top: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 200px;
  margin: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd4b;
  border-radius: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black;
}

.background-container {
  height: 100%;
  background-color: #ffdd4b;
}

.legend-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Desktop Version */
@media only screen and (min-width: 768px) {
  .homepage-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    flex-direction: column;
  }
  .chart-section {
    display: flex;
  }

  .chart-div {
    height: 40vh;
    width: 40vw;
  }

  .title-tagline-container {
    margin-bottom: 30px;
  }

  .background-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #ffdd4b;
  }
}
