/* Mobile Screen Version */

.title {
  text-align: center;
  color: black;
  font-size: 40px;
}

.chart-section {
  display: flex;
  flex-direction: column;
}

.chart-div {
  flex: 1;
  height: 100vh;
}

.chart-title {
  text-align: center;
  font-size: 30px;
  margin: 15px;
}

.homepage-container {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
}

.header-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding-top: 60px;
}

h2 {
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin-top: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 200px;
  margin: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd4b;
  border-radius: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black;
}

.background-container {
  object-fit: cover;
  height: 100%;
  background-color: #ffdd4b;
  /* flex-direction: column; */
}

/* Desktop Version */
@media only screen and (min-width: 768px) {

  .title {
    text-align: center;
    color: black;
    font-size: 40px;
  }

  .chart-section {
    display: flex;
    flex-direction: row;
  }

  .chart-div {
    flex: 1;
  }

  .chart-title {
    text-align: center;
    font-size: 30px;
    margin: 15px;
  }

  .homepage-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 32%;
    background-color: white;
    flex-direction: column;
  }

  .title-tagline-container {
    margin-bottom: 30px;
  }

  h1 {
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
  }

  h2 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ffdd4b;
    border-radius: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: black;
  }

  .background-container {
    display: flex;
    flex-direction: column;
    width: 68%;
    background-color: #ffdd4b;
  }

}
