/* Mobile Screen Version */
.homepage-container {
  height: 100vh;
  /* width: 100vw; */
  background-color: #ffdd4b;
}

.home-btn:hover {
  cursor: pointer;
  color: #dbbe3e;
}

.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffdd4b;
}

.home-btn {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 30px;
  margin: 10px;
  outline: none;
}

.title {
  text-align: center;
  color: black;
  font-size: 40px;
}

.img {
  width: 375px;
}

.chart-title {
  text-align: center;
  font-size: 30px;
  margin: 15px;
}

.line-chart-section {
  display: none;
}

/* Desktop Version */
@media only screen and (min-width: 768px) {
  .homepage-container {
    height: 100vh;
    width: 100vw;
  }

  .yellow-buffer {
    height: 100px;
    background-color: #ffdd4b;
  }

  .background-container {
    height: 100vh;
  }

  .img {
    width: 500px;
  }
  .chart-section {
    display: flex;
  }

  .chart-div {
    width: 30vw;
  }

  .line-chart-section {
    display: block;
  }
}
