<section class="homepage-container">
  <section class="header-container">
    <div class="title-tagline-container">
      <h1>Backpack</h1>
      <h2>A Homework Helper for Kids</h2>
    </div>

    <div class="btn-container">
      <button routerLink="/home" class="btn">Home</button>
    </div>
  </section>

  <div class="background-container">
    <h3 class="title">My Report Card</h3>
    <section class="chart-section">
      <div class="chart-div">
        <h3 class="chart-title">To-Date</h3>
        <canvas
          baseChart
          [data]="overallChartData"
          [labels]="labels"
          [chartType]="doughnutChartType"
          [colors]="chartColors"
          [legend]="false"
        ></canvas>
      </div>
      <div class="chart-div">
        <h3 class="chart-title">Today</h3>
        <canvas
          [data]="dailyChartData"
          [labels]="labels"
          [chartType]="doughnutChartType"
          [colors]="chartColors"
          [legend]="false"
          baseChart
        ></canvas>
      </div>
    </section>
  </div>
</section>
