.body {
  background-color: #3fc1d2;
  height: 100vh;
  width: 100vw;
}
.btn-div {
  position: absolute;
  top: 7px;
  left: 7px;
}
.btn {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd4b;
  border-radius: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black;
}

/* .timer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
} */
.current-title {
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 2.2em;
  padding-top: 40px;

  text-align: center;
  position: relative;
  top: 38px;
}
.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container {
  font-size: 140px;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 1;

  display: flex;
  /* border: 1px solid red; */
}

.minutes,
.middle,
.seconds {
  padding: 15px;

  /* border: 1px solid green; */
}

.buttons {
  display: flex;
  justify-content: center;
}
#icons {
  font-size: 40px;
  text-align: center;
}
.btn-black {
  width: 3em;
  height: 3em;
  background: #000;
  color: #000;
  margin: 5px;
  border-radius: 10px;
  font-size: 1em;
  background-color: #ffdd4b;
  font-size: 30px;
}

.message {
  font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
  .body {
    background-color: #3fc1d2;
    height: 100vh;
    width: 100vw;
  }
  .btn {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    /* margin: 10px;
    margin-bottom: 10px; */
    align-items: center;
    justify-content: center;
    background-color: #ffdd4b;
    border-radius: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: black;
  }
  .timer-div {
    background-color: #3fc1d2;
  }
  .current-title {
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 3.5em;
    padding: 1px;
  }
  .container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timer-container {
    font-size: 260px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1;

    display: flex;
    /* border: 1px solid red; */
  }

  .minutes,
  .middle,
  .seconds {
    padding: 15px;

    /* border: 1px solid green; */
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
  #icons {
    font-size: 60px;
    text-align: center;
  }
  .btn-black {
    width: 3em;
    height: 3em;
    background: #000;
    color: #000;
    margin: 5px;
    border-radius: 10px;
    font-size: 1em;
    background-color: #ffdd4b;
    font-size: 40px;
  }

  .message {
    font-size: 1.5em;
  }
}
