/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
p,
body,
div,
section,
img,
button {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Spartan", sans-serif;
  color: #3a3ea3;
}

h2 {
  font-family: "Gochi Hand", cursive;
  color: #ff3823;
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
