<section class="adventure-list-container">
  <section class="header-container">
    <div class="title-tagline-container">
      <h1 class="h1">Backpack</h1>
      <h2 class="h2">A Homework Helper for Kids</h2>
    </div>

    <div class="btn-container">
      <button routerLink="/kanban" class="btn">Forward</button>
      <button routerLink="/backlog-backpack" class="btn">Backpack</button>
    </div>
  </section>

  <section class="todays-adventures-container">
    <div>
      <h3 class="h3">Today's Adventures</h3>
      <h3 class="date">{{ d | date: "longDate" }}</h3>
    </div>
    <section class="form-container">
      <form #adventureCardForm="ngForm" (ngSubmit)="addAdventure(adventureCardForm)" class="add-adventures-form">
        <div class="subject-title-div">
          <div class="subject-div">
            <label for="subject" class="label">Subject</label>
            <select id="subject" name="subject" class="subject-drop-down" ngModel>
              <option value="Math">Math</option>
              <option value="Reading">Reading</option>
              <option value="Writing">Writing</option>
              <option value="Social Studies">Social Studies</option>
              <option value="Science">Science</option>
              <option value="Misc">Misc.</option>
            </select>
          </div>
          <div class="title-div">
            <label for="title" class="label">Title</label>
            <input type="text" name="title" id="title" class="title-input" ngModel />
          </div>
        </div>
        <div>
          <textarea name="description" id="description" maxlength="300" cols="30" rows="10"
            placeholder="Describe your adventure" ngModel></textarea>
        </div>
        <button class="btn form-btn">Add Adventure!</button>
      </form>
    </section>
    <section class="card-section">
      <div class="card-div">
        <p *ngIf="adventures.length === 0">Lets go on an Adventure</p>
        <ol class="ordered-list">
          <li *ngFor="let adventure of adventures">
            <app-adventure-list-item [adventureRef]="adventure" (updated)="adventuresToday()"></app-adventure-list-item>
          </li>
        </ol>
      </div>
    </section>

    <!-- closing section tag for todays-adventures-container -->
  </section>

  <!-- closing section tag for adventure-list-container -->
</section>

<!-- time and date capture happens on submit in this form -->
