<section class="homepage-container">

  <section class="header-container">

    <div class="title-tagline-container">
      <h1>Backpack</h1>
      <h2>A Homework Helper for Kids</h2>
    </div>

    <div class="btn-container">
      <button routerLink="/learning-adventure-list" class="btn">Start A New Day</button>
      <button routerLink="/analytics" class="btn">My Report Card</button>
    </div>
  </section>

  <div class="background-container">
    <img src="assets/Mataura.svg" alt="bright colored shapes that function as a background" class="mataura">
  </div>

</section>
