.homepage-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  background-color: #fff;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.backpack-title {
  font-size: 50px;
  padding-top: 60px;
}

.backpack-tagline {
  font-size: 22px;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.btn {
  background-color: #ffdd4b;
  border-radius: 12px;
  border: 2px solid black;
  height: 50px;
  width: 215px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 10px;
}

.background-container {
  height: 100%;
  position: relative;
}

.mataura {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .homepage-container {
    flex-direction: row;
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: fit-content;
  }

  .background-container {
    flex: 2;
  }
}
