<section class="homepage-container">
  <section class="sidenav">
    <div class="logo-container">
      <h1 class="backpack-title">Backpack</h1>
      <h2 class="backpack-tagline">A Homework Helper just for Kids</h2>
    </div>

    <div class="btn-container">
      <button routerLink="/learning-adventure-list" class="btn">
        Start A New Day
      </button>
      <button routerLink="/analytics" class="btn">My Report Card</button>
      <button routerLink="/about-backpack" class="btn">About Backpack</button>
      <button routerLink="/developers" class="btn">Meet The Developers</button>
    </div>
  </section>

  <div class="background-container">
    <img
      src="assets/Mataura.svg"
      alt="bright colored shapes that function as a background"
      class="mataura"
    />
  </div>
</section>
