/* Desktop Version */
@media only screen and (min-width: 768px) {
  .container {
    border: solid white 1px;
    background-color: lightpink;
    width: 350px;
  }
  .adventure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title-delete {
    display: flex;
    justify-content: space-between;

    flex-direction: row;

    /* width: 100%; */
  }
  .title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .delete {
    display: flex;
    justify-content: center;
    width: 50px;
    flex-direction: row-reverse;
    height: 25px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  .edit {
    width: 40px;
  }
}
