/* Mobile Version */

.container {
  border: solid black 1px;
  background-color: white;
  width: 290px;
  padding: 10px;
  margin: 20px;
  margin-right: 0px;
  margin-left: 0px;
  word-break: break-all;
  overflow-wrap: break-word;
}

.adventure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-delete {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
p {
}

.edit {
  width: 50px;
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.delete {
  display: flex;
  justify-content: center;
  width: 50px;
  flex-direction: row-reverse;
  height: 35px;
  background-color: #ffdd4b;
  border-radius: 10px;
}

#icons {
  font-size: 30px;
  text-align: center;
}

.subject {
  font-size: 20px;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 5px;
  padding-bottom: 10px;
}

.edit {
  width: 50px;
  height: 40px;
  background-color: #ffdd4b;
  border-radius: 10px;
}
#description {
}

/* Desktop Version */
@media only screen and (min-width: 768px) {
  .container {
    border: solid black 1px;
    background-color: white;
    width: 350px;
    padding: 10px;
    margin: 20px;
    margin-right: 0px;
  }

  .adventure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title-delete {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .title {
    display: flex;
    font-size: 30px;
  }

  .delete {
    display: flex;
    justify-content: center;
    width: 50px;
    flex-direction: row-reverse;
    height: 35px;
    background-color: #ffdd4b;
    border-radius: 10px;
  }

  #icons {
    font-size: 30px;
    text-align: center;
  }

  .subject {
    font-size: 20px;
    text-align: left;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .edit {
    width: 50px;
    height: 40px;
    background-color: #ffdd4b;
    border-radius: 10px;
  }
}
